{% import "partials/quotes.twig" as quotes %}

{{ set(this, 'title', event.title) }}
{% set blogData    = _Blog.getBlog() %}
{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}

{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{% set eventImage = false %}
{#{% if event.media | length > 0 %}
    {% set eventImage = _Media.getMediaUrl(event.media, 'auto', 420, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}#}


{% set startDate = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'j F Y') %}
{% set endDate = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'j F Y') %}

{% set startTime = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'g:ia') %}
{% set endTime = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'g:ia') %}

{% set date = date() %}
{% set events = _Event.getEvents({"limit": 4, "showOnGoingOnly": 1}) %}


<div class="o-body-container o-body-container-md c-eventdetail">
    <div class="c-eventdetail__topBar mt-4">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-12">
                        <div class="c-eventdetail__share">
                            <div class="u-generic-socialIcons">
                                <div class="u-generic-socialIcons__item">Share</div>
                                <a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" target="_blank"
                                    class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewbox="0 0 23 15">
                                        <path fill="#000000" fill-rule="evenodd"
                                            d="M.232 13.818l7.203-6.825L.211.903l-.064.399v12.096c0 .084.028.224.085.42zm8.12-7.644l.959.756 1.896 1.533 1.897-1.533.96-.756L21.308.063C21.181.021 21.053 0 20.925 0H1.468c-.142 0-.263.021-.362.063l7.246 6.111zM1.468 14.7h19.457c.128 0 .25-.021.363-.063L14.02 7.77l-2.814 2.247L8.394 7.77l-7.267 6.867c.114.042.228.063.341.063zm20.715-.882c.042-.154.064-.294.064-.42V1.302c0-.14-.022-.273-.064-.399l-7.203 6.09 7.203 6.825z" />
                                    </svg>
                                </a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}"
                                    target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/fb-solid.svg" alt="image" />
                                </a>
                                <a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"
                                    target="_blank" class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="18px" height="18px">
                                        <path fill="#000000" d="M 4.4042969 3 C 3.7572969 3 3.3780469 3.7287656 3.7480469 4.2597656 L 9.7363281 12.818359 L 3.7246094 19.845703 C 3.3356094 20.299703 3.6578594 21 4.2558594 21 L 4.9199219 21 C 5.2129219 21 5.4916406 20.871437 5.6816406 20.648438 L 10.919922 14.511719 L 14.863281 20.146484 C 15.238281 20.680484 15.849953 21 16.501953 21 L 19.835938 21 C 20.482937 21 20.862187 20.272188 20.492188 19.742188 L 14.173828 10.699219 L 19.900391 3.9902344 C 20.232391 3.6002344 19.955359 3 19.443359 3 L 18.597656 3 C 18.305656 3 18.027891 3.1276094 17.837891 3.3496094 L 12.996094 9.0097656 L 9.3945312 3.8554688 C 9.0205313 3.3194687 8.4098594 3 7.7558594 3 L 4.4042969 3 z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-eventdetail__main-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="c-eventdetail__head u-margin-bottom-20">
                        <a href="javascript:;" class="c-eventdetail__category">{% if event.label is defined and event.label is not empty %} {{event.label}} {% else %} {{event.title}} {% endif %}</a>
                        <div class="c-eventdetail__title">
                            {{ quotes.smarten(event.title) }}  
                        </div>
                    </div>
                    {% if event.media | length > 0 %}
                        <div id="owl-gallery-image" class="owl-carousel owl-pub-theme owl-carousel__base">
                            {% for image in event.media %}
                                {% set eventImageSmall = _Media.getMediaUrl(image, 'auto', 420, {'crop': 'fill', 'gravity': 'auto'} ) %}
                                {% set eventImageMedium = _Media.getMediaUrl(image, 'auto', 500, {'crop': 'fill', 'gravity': 'auto'} ) %}
                                {% set eventImage = _Media.getMediaUrl(image, 'auto', 500, {'crop': 'fill', 'gravity': 'auto'} ) %}
                                    <div class="c-eventdetail__figure">
                                        <picture>
                                            <source media="(max-width: 728px) and (min-width: 501px)" srcset="{{eventImageMedium}}">
                                            <source media="(max-width: 295px)" srcset="{{eventImageSmall}}">
                                            <img class="article-gallery__img" src="{{eventImage}}">
                                        </picture>
                                    </div>                            
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="c-eventdetail__container">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="c-eventdetail__info">
                                    <div class="c-eventdetail__info-item">
                                        <span class="c-eventdetail__info-text">{{ startDate }}{% if endDate != startDate and event.endDate != "" %} - {{endDate}}{% endif %}</span>
                                        <span class="c-eventdetail__info-text small">{{ startTime }}{% if event.endDate != "" %} - {{endTime}}{% endif %}</span>
                                    </div>
                                    <div class="c-eventdetail__info-item">
                                        <span class="c-eventdetail__info-text">{{ event.venue }}</span>
                                        <span class="c-eventdetail__info-text small">{{ event.address.address1 }} {{ event.address.suburb }}</span>
                                    </div>

                                        {% set contactDetails = "" %}

                                        {% if event.contactNumber != "" %}
                                            {% set contactDetails = event.contactNumber %}
                                        {% endif %}

                                        {% if event.contactEmail != "" %}
                                            {% if contactDetails != "" %}
                                                {% set contactDetails = contactDetails ~ ", " ~ event.contactEmail %}
                                            {% else %}
                                                {% set contactDetails = event.contactEmail %}
                                            {% endif %}
                                        {% endif %}

                                        {% if contactDetails != "" %}
                                            <div class="c-eventdetail__info-item">
                                                <span class="c-eventdetail__info-text" >Contact {{event.contactName}}</span>
                                                <span class="c-eventdetail__info-text small" >{{event.contactNumber}}</span>
                                                <span class="c-eventdetail__info-text small" >{{event.contactEmail}}</span>
                                            </div>
                                        {% endif %}

                                        {% if event.websiteUrl != "" %}
                                            <div class="c-eventdetail__info-item">
                                                <a href="{{event.websiteUrl}}" target="_blank" class="c-eventdetail__info-text small text-break" >{{event.websiteUrl}}</a>
                                            </div>
                                        {% endif %}
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="c-eventdetail__content c-article__container">
                                    {{ event.content | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% set keywords = event.keywords | split(',') %}
                    {% if keywords | length > 0 %}
                        <div class="c-eventdetail__keywords">
                            <ul>
                                {% for keyword in keywords %}
                                    {% if keyword is defined and keyword is not empty %}
                                        <li>
                                            <a href="{{_Blog.getUrlByParams()}}/search?s={{keyword}}">{{keyword}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="c-eventdetail__address">
        {% set googleMapAddress = ''%}
        {% if event.address['address1'] is not empty %}
            {% set googleMapAddress = event.address['address1'] %}
        {% endif %}
        {% if event.address['address2'] is not empty %}
            {% set googleMapAddress = event.address['address2'] %}
        {% endif %}
        {% if event.address['suburb'] is not empty %}
            {% set googleMapAddress = googleMapAddress~','~event.address['suburb'] %}
        {% endif %}
        {% if event.address['city'] is not empty %}
            {% set googleMapAddress = googleMapAddress~','~event.address['city'] %}
        {% endif %}
        {% if event.address['state'] is not empty %}
            {% set googleMapAddress = googleMapAddress~','~event.address['state'] %}
        {% endif %}
        {% if event.address['country'] is not empty %}
            {% set googleMapAddress = googleMapAddress~','~event.address['country'] %}
        {% endif %}
        {% if event.address['postcode'] is not empty %}
            {% set googleMapAddress = googleMapAddress~' '~event.address['postcode'] %}
        {% endif %}

        {% if googleMapAddress is not empty %}
            <iframe
                src="https://maps.google.com/maps?q={{googleMapAddress | url_encode}}&amp;ie=UTF8&amp;&amp;output=embed"
                width="100%"
                height="500"
                frameborder="0"
                style="border:0"
                class="contact__map"
                allowfullscreen>
            </iframe>
        {% endif %}
    </div>
</div>