{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set eventBlogId  = blogData.additionalInfo['publishto'] %}
{% set limit = 10 %}

{% set user = false %}

{{this.registerJsFile("https://maps.googleapis.com/maps/api/js?key=AIzaSyCRILYoQMiSjf_1Q_DhL199ha5w410AOLU")}}

<!-- Tempus Dominus JavaScript -->
{# <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@v6-alpha14/dist/js/tempus-dominus.js" crossorigin="anonymous"></script> #}
<!-- Tempus Dominus Styles -->

{% set userScript = "" %}
{% if not _User.isGuest %} 
    {% set user = _User.getUser() %}
    {% set userScript = "window.Acme.currentUser = '" ~ user.guid ~ "';" %}
{% endif %} 

{% set userArticlesArr = [] %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}
{% set config = _Network.getThemeConfig() %}

<main id="main" class="o-body-container o-body-container-md u-margin-top-60" role="main">
    <div class="c-submitevent">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-11 offset-md-1">
                    <div class="c-page-head c-page-head-xs">
                        <div class="u-heading__large--d2 u-bg-white">Submit an event</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-7">
                        {% if config['submit-event']['intro-text'] %}
                            <div class="c-page-info__discription">
                                <p>{{config['submit-event']['intro-text']}}</p>
                            </div>
                        {% endif %}

                            <div class="c-event-form">
                                <div class="">
                                    <form id="listingForm" action="#" method="post" autocomplete="off">
                                        <div class="row">

                                            {# First name #}
                                            <div class="col-12 c-form__group u-margin-bottom-15 col-md-split col-lg-split">
                                                <label class="c-form__label">Your first name*</label>
                                                <input id="first-name" class="c-form__input c-form__input--bordered articleExtendedData" name="first-name" placeholder="First name" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# Last name #}
                                            <div class="col-12 c-form__group u-margin-bottom-15 col-md-split col-lg-split">
                                                <label class="c-form__label">Your last name*</label>
                                                <input id="last-name" class="c-form__input c-form__input--bordered articleExtendedData" name="last-name" placeholder="Last name" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# EMAIL #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <label class="c-form__label">Your email*</label>
                                                <input id="email" class="c-form__input c-form__input--bordered articleExtendedData" name="email" placeholder="Your email" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# NAME #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <label class="c-form__label">Event name*</label>
                                                <input id="title" class="c-form__input c-form__input--bordered articleExtendedData" name="title" placeholder="Event name" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# START DATE #}
                                            <div class="col-12 c-form__group u-margin-bottom-15 col-md-split col-lg-split">
                                                <label class="c-form__label">Start time*</label>
                                                <input id="start_date" class="c-form__input c-form__input--bordered articleExtendedData" name="start_date" placeholder="Start time" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# END DATE #}
                                            <div class="col-12 c-form__group u-margin-bottom-15 col-md-split col-lg-split">
                                                <label class="c-form__label">End time</label>
                                                <input id="end_date" class="c-form__input c-form__input--bordered articleExtendedData" name="end_date" placeholder="End time" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# CONTACT NAME #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <label class="c-form__label">Event contact name</label>
                                                <input id="contact_name" class="c-form__input c-form__input--bordered articleExtendedData" name="contact_name" placeholder="Event contact name" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# Contact number #}
                                            <div class="col-12 c-form__group u-margin-bottom-15 col-md-split col-lg-split">
                                                <label class="c-form__label">Contact number</label>
                                                <input id="contact_number" class="c-form__input c-form__input--bordered articleExtendedData" name="contact_number" placeholder="Contact number" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# Email address #}
                                            <div class="col-12 c-form__group u-margin-bottom-15 col-md-split col-lg-split">
                                                <label class="c-form__label">Email address</label>
                                                <input id="contact_email" class="c-form__input c-form__input--bordered articleExtendedData" name="contact_email" placeholder="Email address" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# Venue name #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <label class="c-form__label">Venue name</label>
                                                <input id="venue" class="c-form__input c-form__input--bordered articleExtendedData" name="venue" placeholder="Venue name" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# Venue address #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <label class="c-form__label">Venue address</label>
                                                <input id="address1" class="c-form__input c-form__input--bordered articleExtendedData" name="address1" placeholder="Venue address" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# Website link #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <label class="c-form__label">Website link</label>
                                                <input id="website_url" class="c-form__input c-form__input--bordered articleExtendedData" name="website_url" placeholder="Website link" aria-required="true" type="text">
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# Event Description #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <label class="c-form__label">Event Description</label>
                                                <textarea id="content" class="c-form__textarea articleExtendedData" name="content" placeholder="Description"></textarea>
                                                <div class="c-form__help-block"></div>
                                            </div>

                                            {# UPLOAD PHOTO #}
                                            <div class="col-12 c-form__group u-margin-bottom-15">
                                                <div id="uploadFileBtn" data-imgcls="images" data-id="imageArray" class="c-upload-image u-margin-bottom-50">
                                                    <p class="c-upload-image__label" >Upload image </p>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="c-buttonSet">
                                                    <button type="submit" id="" class="c-button c-button--inline  c-button--black" name="">Submit event</button>
                                                    <button type="submit" id="" class="c-button c-button--inline c-button--black-bordered" name="">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 offset-md-1">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        Acme.cards = new Card();
        console.log('dom content loaded');
        Acme.eventForm = new Acme.EventForm([{{eventBlogId}}]);
       {{userScript | raw}}
    });
</script>