{% set config       = _Network.getThemeConfig() %}

{{ set(this, 'title', page.title | raw) }}

{% set paragraphs = page.content | split('</p>') %}

{% set firstPara = paragraphs | first ~ ('</p>') %}

<main id="main" class="o-body-container o-body-container-md">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="page_section page_section-xs">
                    <div class="page_section__title">
                        {{page.title}}
                    </div>

                    <div class="page_section__grid">
                        <aside class="page_section__first-para">
                            {{firstPara | raw}}
                        </aside>
                        <aside class="page_section__content c-article__container">
                            {{page.content | raw}}
                        </aside>
                    </div>
                    {% if config['forms'][this.title] is defined %}
                        {{ this.render('partials/form.twig', {
                            page   : this.title,
                            config : config
                        }) | raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-12">
                <div class="j-keyword-cont" data-keywords="{{page.keywords}}"></div>
            </div>
        </div>
    </div>
</main>