{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set blogData     = _Blog.getBlog() %}

{% set config       = _Network.getThemeConfig() %}



{% set limit = 11 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


{% set blogLower = blogData.title | lower | split(" ")[0] %}
{% set cta = _CallToAction.getKeywordBasedCTA('cta_'~blogLower)%}
{% set ctaURL = ""%}
{% if cta.button['url'] %}
    {% set ctaURL = cta.button['url'] %}
{% endif %}


<main id="main" class="site-main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    
    <div class="c-section__real-estate mb-5  mt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-page-head c-page-head--withBorder c-page-head-xs mt-4">
                        <div class="u-heading__large u-heading__large-xs u-pr--6">{{blogData.title}}</div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-lg-6">
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 746, height: 497},
                        template: 'property',
                        containerClass: "card-property-mobile card-property-tablet card-property-desktop card-property-highlighter"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row">
                        {% for i in 1..2 if articles[articleCount] %}
                            <div class="col-12 col-lg-6">
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1),
                                    imageSize: {width: 306, height: 186},
                                    template: 'property',
                                    containerClass: "card-property-mobile card-property-tablet card-property-desktop"
                                }) | raw}}
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            </div>
                        {% endfor %}

                        {% if config['inventory']['adSpace']['mrec'][1] is defined %}
                            <div class="adBlocker">
                                <div class="j-adslot" id="{{config['inventory']['adSpace']['mrec'][1]}}" data-adshape="banner"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
         <div class="row">
            {% for i in 3..10 if articles[articleCount] %}
                <div class="col-12 col-lg-3">
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 306, height: 186},
                        template: 'property',
                        containerClass: "card-property-mobile card-property-tablet card-property-desktop"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>
        <section class="row" id="loadmore_section" class="loadmore__section {{site}}"></section>
    </div>
</main>


<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const events = new Acme.Card();

        Acme.loadMore = new Acme.ArticleFeed({
            model           : Acme.Card,
            container       : 'loadmore_section',
            offset          : {{limit}},
            infinite        : true,
            limit           : 11,
            label           : "Load more",
            name            : 'section-load',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'card-property-mobile card-property-tablet card-property-desktop col-12 col-lg-3',
            non_pinned      : "{{ articlesArr.existingNonPinnedCount }}"
        });
    });
</script>