{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="08">
    <div class="col-12">
        <div class="c-page-head c-page-head--d1 c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <div class="c-page-head__link"><a class="text" href="{{link}}">View all stories</a></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="row">
            {% for i in 0..1 if articles[articleCount] %}
                <div class="col-12 col-lg-6">
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
                    imageSize: {width: 255, height: 276},
                    containerClass: "card-3-mobile card-3-tablet card-3-desktop",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
            {% for i in 2..3 if articles[articleCount] %}
                <div class="col-12">
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
                    imageSize: {width: 96, height: 96},
                    containerClass: "card-6-mobile card-6-tablet card-6-desktop",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-lg-6">
        {{this.render('../_single-article.twig', {
        article: articles[articleCount],
        position: (articleCount+1),
        imageSize: {width: 635, height: 450},
        containerClass: "card-2-mobile card-2-tablet card-2-desktop",
        timeSuppress: timeSuppress
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>
</div>