{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="08">
    <div class="col-12">
        <div class="c-page-head c-page-head--d1 c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <div class="c-page-head__link"><a class="text" href="{{link}}">View all</a></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="row">
            {% for i in 0..1 if articles[articleCount] %}
                <div class="col-12 col-lg-6">
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
                    imageSize: {width: 255, height: 276},
                    containerClass: "card-3-mobile card-3-tablet card-3-desktop",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% if adslots[0] is defined %}
        <div class="col-12 col-lg-6">
            <div class="adBlocker adBlocker--d2 d-none d-xl-flex">
                <div class="j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
            </div>
        </div>
    {% endif %}
    
</div>
{% if articles | length > 2 %}
    <div class="row">
        {% for i in 2..5 if articles[articleCount] %}
            <div class="col-12 col-lg-6">
                {{this.render('../_single-article.twig', {
                article: articles[articleCount],
                position: (articleCount+1),
                imageSize: {width: 255, height: 276},
                containerClass: "card-6-mobile card-6-tablet card-6-desktop",
                timeSuppress: timeSuppress
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            </div>
        {% endfor %}
    </div>
{% endif %}