{% set articleCount = 0 %}
{% set eventCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="01">
    <div class="col-12">
        <div class="c-page-head c-page-head--d1 c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <div class="c-page-head__link"><a class="text" href="{{link}}">View all stories</a></div>
        </div>
    </div>


    <div class="col-12 col-lg-6">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 635, height: 450},
            containerClass: "card-2-mobile card-2-tablet card-2-desktop",
            timeSuppress: timeSuppress
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>
    <div class="col-12 col-lg-6">
        <div class="row">
            {% for i in 1..6 if articles[articleCount] %}
                <div class="col-12 col-lg-4">
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
                    imageSize: {width: 159, height: 160},
                    containerClass: "card-5-mobile card-5-tablet card-5-desktop",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if adslots[0] is defined %}
    <div class="adBlocker adBlocker--fullwidth d-none d-xl-block">
        <div class="row">
            <div class="col-12">
                <div class="j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
            </div>
        </div>
    </div>
{% endif %}
    