{% set defaultBlog = _Blog.getHomeBlogSettings() %}
{% set logo = networkData.templatePath~'/static/images/logo.svg'%}
{% set footerBottomFavicon = networkData.templatePath~'/static/icons/path.svg'%}
{% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}
{% set footerTopMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer-top'}) %}
{% set footerBottomMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer-bottom'}) %}
{% set addresses = defaultBlog.contact %}
{% set paywall = true %}

{% if config['paywall'] is defined and config['paywall']['active'] is defined and config['paywall']['active'] == false %}
    {% set paywall = false %}
{% endif %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}


{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if config['footer-logo'] is defined %}
    {% if config['footer-logo']['width'] is defined %}
        {% set logoWidth = config['footer-logo']['width'] %}

        {% if config['footer-logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['footer-logo']['height'] is defined %}
        {% set logoHeight = config['footer-logo']['height'] %}

        {% if config['footer-logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}

{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.secondaryLogoMedia, logoWidth, logoHeight, {'crop': 'fit'} )%}
{% endif %}

<footer class="c-footer c-footer-xs c-footer--themecolour mt-5">
    <div class="c-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-footer__top-bar">
                        <div class="c-footer__logo">
                            <a href="{{networkData.defaultBlogUrl}}">
                                <img src="{{logo}}" class="image-fluid" />
                            </a>
                        </div>
                        <div class="c-footer__additionalInfo {{additionalInfo}}">
							{% if paywall %}
                                <div class="c-footer__additionalInfo-btns d-flex d-lg-none">
                                    {% if loggedin %}
                                        <a href="{{_AppHelper.getLogoffUrl()}}" class="c-button c-button--black-bordered d-inline-block d-md-none">Logout</a>
                                        <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="c-button c-button--mainThemeClr">My account</a>
                                    {% else %}
                                        <a id="signinBtn" href="javascript:;" class="c-button c-button--black-bordered d-inline-block d-md-none">Sign in</a>
                                        {% if config['subscriptions']['subscribe-button'] != '' %}
                                            <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--mainThemeClr">Subscribe</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                			{% endif %}
                            <div class="c-nav c-nav-1 d-none d-md-flex">
                                <ul class="c-nav__grid">
									{{this.render('../_submenu_navigation.twig', {
										items: footerTopMenu
									}) | raw }}
                                </ul>
								{% if paywall %}
                					{% if loggedin %}
                                		<a class="c-nav--signIn" href="{{_AppHelper.getLogoffUrl()}}">Logout</a>
									{% else %}
                                		<a class="c-nav--signIn" id="signinBtn" href="javascript:;">Sign in</a>
									{% endif %}
								{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__address d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Contact</div>
                        <div class="c-footer__address__content address">
                            {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                            {{addresses.postcode}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-lg-3">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Email</div>
                        {% if addresses.email != "" %}
                        <div class="c-footer__address__content">
                            <a href="mailto:{{addresses.email}}"
                                class="c-footer__addresses__content">{{addresses.email}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4 col-lg-6">
                    <div class="d-flex justify-content-end">
                        <div class="c-footer__address__container d-none">
                            <div class="c-footer__address__heading">Telephone</div>
                            {% if addresses.phone != "" %}
                                <div class="c-footer__address__content">{{addresses.phone}}</div>
                            {% endif %}
                        </div>
                        {% if paywall %}
                            <div class="d-none d-lg-flex justify-content-end">
                                <div class="c-footer__address__container">
                                    {% if loggedin %}
                                        <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="c-button c-button--black-bordered">My account</a>
                                    {% endif %}
                                    {% if loggedin != true and config['subscriptions']['subscribe-button'] != '' %}
                                        <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-navigation__item subscribe c-button--black-bordered">Subscribe</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__main">
        <div class="container">
            <div class="row">
				{{this.render('../_footer_navigation.twig', {
					items: footerMenu
				}) | raw }}
            </div>
            {# <div class="row">
				<div class="col-6 col-md-6 col-lg-3">
                    <div class="c-footer__main__container">
                        <h3>
                            Read
                        </h3>
                        <div class="c-nav c-nav-2">
                            <ul class="c-nav__grid">
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/digital-editions">
                                                                    Digital editions
                                                                </a>
                                    </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/videos">
                                                                    Videos
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/arts--culture">
                                                                    Arts &amp; culture
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/clubs--community">
                                                                    Clubs &amp; Community
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/food--farms">
                                                                    Food &amp; Farms
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/health--safety">
                                                                    Health &amp; Wellness
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/news">
                                                                    News
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/motoring-property">
                                                                    Motoring &amp; Property
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/puzzles">
                                                                    Puzzles
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/science--nature">
                                                                    Science &amp; Nature
                                                                </a>
                                </li>
                                                <li>
                                    <a class="c-nav__item" href="https://www.theillawarraflame.com.au/sport">
                                                                    Sport &amp; Leisure
                                                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="c-footer__main__container">
                        <h3>
                                        Find
                                    </h3>
                                <div class="c-nav c-nav-2">
                            <ul class="c-nav__grid">
                                                    <li>
                                        <a class="c-nav__item" href="https://www.theillawarraflame.com.au/events">
                                                                        Events
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="https://www.theillawarraflame.com.au/directory">
                                                                        Local services
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="https://www.theillawarraflame.com.au/puzzles">
                                                                        Puzzles
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/tides">
                                                                        Weather &amp; Tides
                                                                    </a>
                                    </li>
                                            </ul>
                        </div>
                            </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="c-footer__main__container">
                        <h3>
                                        Advertise
                                    </h3>
                                <div class="c-nav c-nav-2">
                            <ul class="c-nav__grid">
                                                    <li>
                                        <a class="c-nav__item" href="/book-an-ad">
                                                                        Book an ad
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/ad-query">
                                                                        Rate card
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/distribution">
                                                                        Distribution
                                                                    </a>
                                    </li>
                                            </ul>
                        </div>
                            </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="c-footer__main__container">
                        <h3>
                                        Further info
                                    </h3>
                                <div class="c-nav c-nav-2">
                            <ul class="c-nav__grid">
                                                    <li>
                                        <a class="c-nav__item" href="/about-us">
                                                                        About us
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/get-in-touch">
                                                                        Get in touch
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/our-policies">
                                                                        Our policies
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/social-media-terms-of-serviceuse-1">
                                                                        Social Media Terms of Service/Use
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/subscription-faq">
                                                                        FAQ
                                                                    </a>
                                    </li>
                                            </ul>
                        </div>
                            </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="c-footer__main__container">
                        <h3>
                                        Shop
                                    </h3>
                                <div class="c-nav c-nav-2">
                            <ul class="c-nav__grid">
                                                    <li>
                                        <a class="c-nav__item" href="/newsletters">
                                                                        Newsletters
                                                                    </a>
                                    </li>
                                                    <li>
                                        <a class="c-nav__item" href="/magazines">
                                                                        Magazine
                                                                    </a>
                                    </li>
                                            </ul>
                        </div>
                            </div>
                </div>

            </div> #}
            {% if config['footer-additional-info']['logos'] is defined and config['footer-additional-info']['logos'] is not empty %} 
                <div class="c-footer__additional_logos abs">
                    {% for logos in config['footer-additional-info']['logos'] %}
                        <div class="c-footer__additional_logos-item">
                            <a href={{logos.link}}>
                                <img src={{logos.icon}} alt="logo" class="img-fluid" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>
    <div class="c-footer__responsive d-block d-md-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Contact</div>
                        <div class="c-footer__address__content address">
                            {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                            {{addresses.postcode}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Email</div>
                        {% if addresses.email != "" %}
                        <div class="c-footer__address__content">
                            <a href="mailto:{{addresses.email}}"
                                class="c-footer__addresses__content">{{addresses.email}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__bottom">
        <div class="c-footer__bottom-p1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto">
                        <div class="c-footer__bottom__ack-heading">{{config['footer-text']['title']}}</div>
                        <div class="c-footer__bottom__ack-content">{{config['footer-text']['content']}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__responsive d-block d-md-none">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="c-footer__bottom__info__nav">
                            {{this.render('../_submenu_navigation.twig', {
								items: footerBottomMenu
							}) | raw }}
                        </div>
                        <div class="desginer-info">Designed and powered by <a target="_blank" href="https://publish.pagemasters.com/">Pagemasters Publish</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__bottom-p2">
            <div class="container">
                <div class="c-footer__bottom-p2-container">
                    <aside class="c-footer__bottom__info">
                        <div class="c-footer__bottom__info__copy">&copy; {{networkData.title}}</div>
                        <div class="c-footer__bottom__info__nav d-none d-md-flex">
                            {{this.render('../_submenu_navigation.twig', {
								items: footerBottomMenu
							}) | raw }}
                        </div>
                    </aside>
                    <aside class="c-footer__bottom__rightSide">
                        <div class="desginer-info d-none d-xl-flex">Designed and powered by <a target="_blank" href="https://publish.pagemasters.com/">Pagemasters Publish</a></div>
                        <div class="u-generic-socialIcons">
                            {% if config.social.facebook is defined and config.social.facebook is not empty %}
                                <a href="{{config.social.facebook}}" target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/fb-white.svg" alt="image" />
                                </a>
                            {% endif %}
                            {% if config.social.instagram is defined and config.social.instagram is not empty %}
                                <a href="{{config.social.instagram}}" target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/insta-white.svg" alt="image" />
                                </a>
                             {% endif %}
                            {% if config.social.twitter is defined and config.social.twitter is not empty %}
                                <a href="{{config.social.twitter}}" target="_blank" class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="18px" height="18px">
                                        <path fill="#fff" d="M 4.4042969 3 C 3.7572969 3 3.3780469 3.7287656 3.7480469 4.2597656 L 9.7363281 12.818359 L 3.7246094 19.845703 C 3.3356094 20.299703 3.6578594 21 4.2558594 21 L 4.9199219 21 C 5.2129219 21 5.4916406 20.871437 5.6816406 20.648438 L 10.919922 14.511719 L 14.863281 20.146484 C 15.238281 20.680484 15.849953 21 16.501953 21 L 19.835938 21 C 20.482937 21 20.862187 20.272188 20.492188 19.742188 L 14.173828 10.699219 L 19.900391 3.9902344 C 20.232391 3.6002344 19.955359 3 19.443359 3 L 18.597656 3 C 18.305656 3 18.027891 3.1276094 17.837891 3.3496094 L 12.996094 9.0097656 L 9.3945312 3.8554688 C 9.0205313 3.3194687 8.4098594 3 7.7558594 3 L 4.4042969 3 z"/>
                                    </svg>
                                </a>
                            {% endif %}
                            {% if config.social.vimeo is defined and config.social.vimeo is not empty %}
                                <a href="{{config.social.vimeo}}" target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/vimeo-white.svg" alt="image" />
                                </a>
                            {% endif %}
                            {% if config.social.tiktok is defined and config.social.tiktok is not empty %}
                                <a href="{{config.social.tiktok}}" class="u-generic-socialIcons__item" target="_blank">
                                    <img src="{{networkData.templatePath}}/static/icons/tiktok_white.svg" alt="image" />
                                </a>
                            {% endif %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    {{ networkData['styling']['customFooter'] | raw }}
</footer>