{% set defaultBlog = _Blog.getHomeBlogSettings() %}
{% set logo = networkData.templatePath~'/static/images/logo.svg'%}
{% set footerBottomFavicon = networkData.templatePath~'/static/icons/path.svg'%}
{% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}
{% set footerTopMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer-top'}) %}
{% set footerBottomMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer-bottom'}) %}
{% set addresses = defaultBlog.contact %}
{% set paywall = true %}

{% if config['paywall'] is defined and config['paywall']['active'] is defined and config['paywall']['active'] == false %}
    {% set paywall = false %}
{% endif %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}


{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if config['footer-logo'] is defined %}
    {% if config['footer-logo']['width'] is defined %}
        {% set logoWidth = config['footer-logo']['width'] %}

        {% if config['footer-logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['footer-logo']['height'] is defined %}
        {% set logoHeight = config['footer-logo']['height'] %}

        {% if config['footer-logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}

{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.secondaryLogoMedia, logoWidth, logoHeight, {'crop': 'fit'} )%}
{% endif %}

<footer class="c-footer c-footer-xs c-footer--themecolour mt-5">
    <div class="c-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-footer__top-bar">
                        <div class="c-footer__logo">
                            <a href="{{networkData.defaultBlogUrl}}">
                                <img src="{{logo}}" class="image-fluid" />
                            </a>
                        </div>
                        <div class="c-footer__additionalInfo {{additionalInfo}}">
							{% if paywall %}
                                <div class="c-footer__additionalInfo-btns d-flex d-lg-none">
                                    {% if loggedin %}
                                        <a href="{{_AppHelper.getLogoffUrl()}}" class="c-button c-button--black-bordered d-inline-block d-md-none">Logout</a>
                                        <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="c-button c-button--mainThemeClr">My account</a>
                                    {% else %}
                                        <a id="signinBtn" href="javascript:;" class="c-button c-button--black-bordered d-inline-block d-md-none">Sign in</a>
                                        {% if config['subscriptions']['subscribe-button'] != '' %}
                                            <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--mainThemeClr">Subscribe</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                			{% endif %}
                            <div class="c-nav c-nav-1 d-none d-md-flex">
                                <ul class="c-nav__grid">
									{{this.render('../_submenu_navigation.twig', {
										items: footerTopMenu
									}) | raw }}
                                </ul>
								{% if paywall %}
                					{% if loggedin %}
                                		<a class="c-nav--signIn" href="{{_AppHelper.getLogoffUrl()}}">Logout</a>
									{% else %}
                                		<a class="c-nav--signIn" id="signinBtn" href="javascript:;">Sign in</a>
									{% endif %}
								{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__address d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Contact</div>
                        <div class="c-footer__address__content address">
                            {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                            {{addresses.postcode}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-lg-3">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Email</div>
                        {% if addresses.email != "" %}
                        <div class="c-footer__address__content">
                            <a href="mailto:{{addresses.email}}"
                                class="c-footer__addresses__content">{{addresses.email}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4 col-lg-6">
                    <div class="d-flex justify-content-end">
                        <div class="c-footer__address__container d-none">
                            <div class="c-footer__address__heading">Telephone</div>
                            {% if addresses.phone != "" %}
                                <div class="c-footer__address__content">{{addresses.phone}}</div>
                            {% endif %}
                        </div>
                        {% if paywall %}
                            <div class="d-none d-lg-flex justify-content-end">
                                <div class="c-footer__address__container">
                                    {% if loggedin %}
                                        <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="c-button c-button--black-bordered">My account</a>
                                    {% endif %}
                                    {% if loggedin != true and config['subscriptions']['subscribe-button'] != '' %}
                                        <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-navigation__item subscribe c-button--black-bordered">Subscribe</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__main">
        <div class="container">
            <div class="row">
				{{this.render('../_footer_navigation.twig', {
					items: footerMenu
				}) | raw }}
            </div>
        </div>
    </div>
    <div class="c-footer__responsive d-block d-md-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Contact</div>
                        <div class="c-footer__address__content address">
                            {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                            {{addresses.postcode}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Email</div>
                        {% if addresses.email != "" %}
                        <div class="c-footer__address__content">
                            <a href="mailto:{{addresses.email}}"
                                class="c-footer__addresses__content">{{addresses.email}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__bottom">
        <div class="c-footer__bottom-p1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto">
                        <div class="c-footer__bottom__ack-heading">{{config['footer-text']['title']}}</div>
                        <div class="c-footer__bottom__ack-content">{{config['footer-text']['content']}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__responsive d-block d-md-none">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="c-footer__bottom__info__nav">
                            {{this.render('../_submenu_navigation.twig', {
								items: footerBottomMenu
							}) | raw }}
                        </div>
                        <div class="desginer-info">Designed and powered by <a target="_blank" href="https://publish.pagemasters.com/">Pagemasters Publish</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__bottom-p2">
            <div class="container">
                <div class="c-footer__bottom-p2-container">
                    <aside class="c-footer__bottom__info">
                        <div class="c-footer__bottom__info__copy">&copy; {{networkData.title}}</div>
                        <div class="c-footer__bottom__info__nav d-none d-md-flex">
                            {{this.render('../_submenu_navigation.twig', {
								items: footerBottomMenu
							}) | raw }}
                        </div>
                    </aside>
                    <aside class="c-footer__bottom__rightSide">
                        <div class="desginer-info d-none d-xl-flex">Designed and powered by <a target="_blank" href="https://publish.pagemasters.com/">Pagemasters Publish</a></div>
                        <div class="u-generic-socialIcons">
                            {% if config.social.facebook is defined and config.social.facebook is not empty %}
                                <a href="{{config.social.facebook}}" target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/fb-white.svg" alt="image" />
                                </a>
                            {% endif %}
                            {% if config.social.instagram is defined and config.social.instagram is not empty %}
                                <a href="{{config.social.instagram}}" target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/insta-white.svg" alt="image" />
                                </a>
                             {% endif %}
                            {% if config.social.twitter is defined and config.social.twitter is not empty %}
                                <a href="{{config.social.twitter}}" target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/twitter-white.svg" alt="image" />
                                </a>
                            {% endif %}
                            {% if config.social.vimeo is defined and config.social.vimeo is not empty %}
                                <a href="{{config.social.vimeo}}" target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/vimeo-white.svg" alt="image" />
                                </a>
                            {% endif %}
                            {% if config.social.tiktok is defined and config.social.tiktok is not empty %}
                                <a href="{{config.social.tiktok}}" class="u-generic-socialIcons__item" target="_blank">
                                    <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"><path d="M19.589 6.686a4.793 4.793 0 0 1-3.77-4.245V2h-3.445v13.672a2.896 2.896 0 0 1-5.201 1.743l-.002-.001.002.001a2.895 2.895 0 0 1 3.183-4.51v-3.5a6.329 6.329 0 0 0-5.394 10.692 6.33 6.33 0 0 0 10.857-4.424V8.687a8.182 8.182 0 0 0 4.773 1.526V6.79a4.831 4.831 0 0 1-1.003-.104z"/></svg>
                                </a>
                            {% endif %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    {{ networkData['styling']['customFooter'] | raw }}
</footer>