{% set headermenu = _Menu.get({'menuType': 'header', "menuGroupName":"header-main"}) %}
{% set miniMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-mini'}) %}
{% set headerTopMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-top'}) %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}



{% set logo = networkData.templatePath~'/static/images/logo.svg' %}

{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if config['logo'] is defined %}
    {% if config['logo']['width'] is defined %}
        {% set logoWidth = config['logo']['width'] %}

        {% if config['logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['logo']['height'] is defined %}
        {% set logoHeight = config['logo']['height'] %}

        {% if config['logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}

{% set paywall = true %}

{% if config['paywall'] is defined and config['paywall']['active'] is defined and config['paywall']['active'] == false %}
    {% set paywall = false %}
{% endif %}

{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, logoWidth, logoHeight, {'crop': 'fit'} ) %}
{% endif %}

{% set dateFormat = "l, j F Y" %}
{% if config['dateFormat'] is defined and config['dateFormat'] != "" %}
    {% set dateFormat = config['dateFormat'] %}
{% endif %}
{% set theDate = _AppHelper.getCurrentTimestampBasedOnTimezone() %}
{% set date = _AppHelper.getDefaultTimezoneDateTime(theDate, dateFormat) %}


<div id="pp-banner" class="d-print-none"></div>


<header class="c-header" id="headerScrolling">
    <div class="c-header__top d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-header__top__container">
                        <div class="c-nav c-nav-1">
                            {% if paywall %}
                                {% if loggedin != true %}
                                    <a id="signinBtn" class="c-nav--signIn u-mr--30" href="javascript:;">Sign in</a>
                                {% endif %}
                            {% endif %}
                            <ul class="c-nav__grid">
                                {{this.render('../_submenu_navigation.twig', {
								items: headerTopMenu
							    }) | raw }}
                            </ul>
                        </div>
                        <div class="u-generic-socialIcons">
                            {% if config.social.facebook is defined and config.social.facebook is not empty %}
                                <a href="{{config.social.facebook}}" target="_blank" class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                                        <defs>
                                            <path id="gvadgj8vsa" d="M4.978 5.265V3.902c0-.206.012-.367.036-.483.023-.115.07-.224.139-.328.07-.103.18-.178.332-.224.15-.045.356-.069.611-.069h1.38V.072H5.259c-1.28 0-2.201.299-2.76.897-.559.598-.838 1.484-.838 2.657v1.64H0V7.99h1.66v7.937h3.318V7.99h2.22l.296-2.726H4.978z"/>
                                        </defs>
                                        <g fill-rule="evenodd">
                                            <g>
                                                <g>
                                                    <g>
                                                        <g transform="translate(-1163.000000, -24.000000) translate(1163.000000, 24.000000) translate(4.000000, 0.000000)">
                                                            <mask id="qdszzij8wb" fill="#fff">
                                                                <use xlink:href="#gvadgj8vsa"/>
                                                            </mask>
                                                            <g mask="url(#qdszzij8wb)">
                                                                <rect width="80" height="80" rx="6" transform="translate(-40.000000, -32.000000)"/>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>

                                </a>
                            {% endif %}
                            {% if config.social.instagram is defined and config.social.instagram is not empty %}
                                <a href="{{config.social.instagram}}" target="_blank" class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                                        <defs>
                                            <path id="rj4h09j46a" d="M2.195.429h12c1.105 0 2 .895 2 2v12c0 1.104-.895 2-2 2h-12c-1.105 0-2-.896-2-2v-12c0-1.105.895-2 2-2zm6.25 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm4.75-9.973c-.552 0-1 .447-1 1 0 .552.448 1 1 1s1-.448 1-1c0-.553-.448-1-1-1z"/>
                                        </defs>
                                        <g fill-rule="evenodd">
                                            <g>
                                                <g>
                                                    <g>
                                                        <g transform="translate(-1195.000000, -24.000000) translate(1194.000000, 23.000000) translate(0.804960, 0.544262)">
                                                            <mask id="dmlcft4akb" fill="#fff">
                                                                <use xlink:href="#rj4h09j46a"/>
                                                            </mask>
                                                            <use fill="#4B4C4E" xlink:href="#rj4h09j46a"/>
                                                            <g mask="url(#dmlcft4akb)">
                                                                <rect width="80" height="75" y="1" rx="6" transform="translate(-30.000000, -27.000000)"/>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>

                                </a>
                             {% endif %}
                            {% if config.social.twitter is defined and config.social.twitter is not empty %}
                                <a href="{{config.social.twitter}}" target="_blank" class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="18px" height="18px">
                                        <path d="M 4.4042969 3 C 3.7572969 3 3.3780469 3.7287656 3.7480469 4.2597656 L 9.7363281 12.818359 L 3.7246094 19.845703 C 3.3356094 20.299703 3.6578594 21 4.2558594 21 L 4.9199219 21 C 5.2129219 21 5.4916406 20.871437 5.6816406 20.648438 L 10.919922 14.511719 L 14.863281 20.146484 C 15.238281 20.680484 15.849953 21 16.501953 21 L 19.835938 21 C 20.482937 21 20.862187 20.272188 20.492188 19.742188 L 14.173828 10.699219 L 19.900391 3.9902344 C 20.232391 3.6002344 19.955359 3 19.443359 3 L 18.597656 3 C 18.305656 3 18.027891 3.1276094 17.837891 3.3496094 L 12.996094 9.0097656 L 9.3945312 3.8554688 C 9.0205313 3.3194687 8.4098594 3 7.7558594 3 L 4.4042969 3 z"/>
                                    </svg>

                                </a>
                            {% endif %}
                            {% if config.social.vimeo is defined and config.social.vimeo is not empty %}
                                <a href="{{config.social.vimeo}}" target="_blank" class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                                        <defs>
                                            <path id="irlgdopqia" d="M14.37.361c-.895-.523-1.93-.478-3.108.137-1.336.705-2.128 1.775-2.377 3.21.86-.524 1.494-.513 1.902.034.407.546.373 1.252-.102 2.117-.974 1.89-1.687 2.834-2.14 2.834-.113 0-.215-.063-.306-.188-.09-.125-.192-.347-.305-.666-.114-.319-.21-.625-.289-.922l-.357-1.366c-.068-.273-.14-.654-.22-1.144l-.204-1.28c-.057-.364-.142-.763-.255-1.195-.113-.433-.244-.774-.39-1.024C6.07.657 5.866.458 5.606.31c-.26-.148-.56-.188-.9-.12-.589.114-1.29.496-2.106 1.144-.815.649-1.38 1.156-1.698 1.52l-.78.888.61.853.34-.239c.25-.159.498-.278.747-.358.25-.08.464-.051.645.085.136.182.555 1.451 1.257 3.807.702 2.357 1.143 3.722 1.325 4.098.181.376.424.717.73 1.024.306.308.68.524 1.121.65.441.124.9.028 1.375-.291 1.2-.82 2.587-2.168 4.161-4.046 1.573-1.879 2.541-3.876 2.904-5.993.25-1.457-.074-2.447-.968-2.97"/>
                                        </defs>
                                        <g fill-rule="evenodd">
                                            <g>
                                                <g>
                                                    <g>
                                                        <g transform="translate(-1259.000000, -24.000000) translate(1259.000000, 24.000000) translate(0.200000, 1.000000)">
                                                            <mask id="7loyc1qhxb" fill="#fff">
                                                                <use xlink:href="#irlgdopqia"/>
                                                            </mask>
                                                            <use fill="#000" xlink:href="#irlgdopqia"/>
                                                            <g mask="url(#7loyc1qhxb)">
                                                                <rect width="80" height="80" rx="6" transform="translate(-29.000000, -25.000000)"/>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            {% endif %}
                            {% if config.social.tiktok is defined and config.social.tiktok is not empty %}
                                <a href="{{config.social.tiktok}}" class="u-generic-socialIcons__item" target="_blank">
                                    <svg width="16px" height="16px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"><path d="M19.589 6.686a4.793 4.793 0 0 1-3.77-4.245V2h-3.445v13.672a2.896 2.896 0 0 1-5.201 1.743l-.002-.001.002.001a2.895 2.895 0 0 1 3.183-4.51v-3.5a6.329 6.329 0 0 0-5.394 10.692 6.33 6.33 0 0 0 10.857-4.424V8.687a8.182 8.182 0 0 0 4.773 1.526V6.79a4.831 4.831 0 0 1-1.003-.104z"/></svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-header__main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-header__main__container">
                        <div class="c-header__main__logo">
                            <a href="{{networkData.defaultBlogUrl}}">
                                <img src={{logo}} class="img-fluid" />
                            </a>
                        </div>
                        
                        <div class="c-header__main__otherInfo">
                            <div class="loggedin-info d-none d-md-flex">
                                {% if paywall %}
                                    {% if loggedin %}
                                        <a href="javascript:;" onclick="headerMicroMenuOpen()" class="loggedin-info__label">
                                            {{user.firstname}} {{user.lastname}}
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if loggedin != true and config['subscriptions']['subscribe-button'] != '' %}
                                    <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--sitePrimaryClr">Subscribe</a>
                                {% endif %}
                            </div>
                            {% if paywall %}
                                {% if loggedin %}
                                    <div class="loggedin-info__extended" id="headerMicroMenu">
                                        <a class="loggedin-info__extended-item" href="{{networkData.defaultBlogUrl}}/user/edit-profile">My Account</a>
                                        <a class="loggedin-info__extended-item" href="{{_AppHelper.getLogoffUrl()}}">Log out</a>
                                        <a href="javascript:;" onclick="headerMicroMenuClose()" class="loggedin-info__extended-close">
                                            <span class="text">Close</span>
                                            <span class="icon">
                                                <img src="{{networkData.templatePath}}/static/icons/icons-reverse.svg" class="img-fluid" /> 
                                            </span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="c-header__main__icons-container">
                                <a href="javascript:;"  class="c-header__main__icons-item" onClick="searchBarOpen()">
                                    <img src="{{networkData.templatePath}}/static/icons/icons-navigation-search.svg" class="img-fluid" /> 
                                </a>
                                <a href="javascript:;"  class="c-header__main__icons-item js-menu">
                                    <img src="{{networkData.templatePath}}/static/icons/icons-navigation-hamburger.svg" class="img-fluid" /> 
                                </a>
                            </div>
                        </div>

                        <div class="c-searchBar" id="searchBarAction">
                            <div class="c-searchBar__content">
                                <form class="c-searchBar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                                    <div class="c-searchBar__submit">
                                        <img src="{{networkData.templatePath}}/static/icons/icons-navigation-search.svg" class="img-fluid" /> 
                                    </div>
                                    <input class="c-searchBar__input" type="text" name="s" placeholder="Search" />
                                </form>
                            </div>
                            <div class="c-searchBar__close" onClick="searchBarClose()">
                                <span class="icon">
                                    <img src="{{networkData.templatePath}}/static/icons/icons-navigation-close.svg" class="img-fluid" /> 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if paywall %}
        {% if loggedin %}
            <div class="c-header__responsive d-md-none">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="c-header__responsive-content">
                                <div class="c-header__responsive__user-info">{{user.firstname}} {{user.lastname}}</div>
                                <div class="c-header__responsive__additional-info">
                                    <a class="c-header__responsive__additional-info__item" href="{{networkData.defaultBlogUrl}}/user/edit-profile">My Account</a>
                                    <a class="c-header__responsive__additional-info__item" href="{{_AppHelper.getLogoffUrl()}}">Log out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="c-header__res-btn d-md-none">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="c-header__res-btn__content">
                                {% if loggedin != true %}
                                    <a id="signinBtn" href="javascript:;" class="c-button c-button--black-bordered d-inline-block d-md-none">Sign in</a>
                                {% endif %}
                                {% if loggedin != true and config['subscriptions']['subscribe-button'] != '' %}
                                    <a href="{{networkData.defaultBlogUrl}}/subscriptions" class="c-button c-button--sitePrimaryClr">Subscribe</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</header>

{{ this.render('../_header_navigation.twig', {networkData: networkData}) | raw }}